*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/background.png) ;
    background-size: auto;
    height: 100vh;

  
 
}


.container{
    top: 80px;
    height: 100vh;
    width: 100;
    background-image: url(images/background.png) ;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    height: 15vh;
    margin: auto;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-radius: 10px;
}
.header-style{
    position: fixed;
    left: 190px;
right: 100990px;
    border: solid 2px lemonchiffon;
    margin-top: 0px;
    width: 35%;
    border-radius: 10px;
    color: #6a7199;
  
   

}
h1,h4{

    background: linear-gradient(45deg,#3059b3,#ff77cd,#6a5863,#ff77cd,#200617);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-menu{
    position: fixed;
    right: 100px;
}
.logo{
    display: none;

    margin-top: 10px;
    width: 160px;
    cursor: pointer;   
}
.logo2{

    margin-top: 20px;
    width: 160px;
    cursor: pointer;   
}

.cart{
    position: fixed;
    width: 40px;
    cursor: pointer;
    right: 90px;
    top: 80px;
    right: 85px;
     
}
nav{
    flex-direction: 1;
    padding-left: 60px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;

}
nav ul li a{
    text-decoration: none;
    border: solid 2px lemonchiffon;
    border-radius: 10px;
    color: white;
    padding: 0 10px;
    background: linear-gradient(45deg,#87adfe,#ff77cd);}
    nav ul li a:hover{
        background-image: url(images/logo.png);
        color: red;
        box-shadow: 3px 3px 3px red;
        backdrop-filter: blur(10px);
        margin: 15px;
        transition: 0.7s ease;
       
       
    }
    .hamburger{
        background-image: url(images/logo.png);
        color: red;
        box-shadow: 3px 3px 3px red;
        backdrop-filter: blur(10px);
        transition: 0.3s ease;
        border: solid 2px lemonchiffon;
        border-radius: 3px;
    }
    .content{
        
        margin-top: 40px;
    }


.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
    
}
.content p{
    font-size: 20px;
    color: #6a7199;
}
.content .btn{
    
    display: inline-block;
    background: linear-gradient(45deg,#87adfe,#ff77cd);
    border-radius: 6px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
   

}
.arrow-icons{
    margin-top: 0px;
    display: flex;
    right: 0;
    margin-right: 1060px;
}
.arrow-icons img{
    width: 40px;
    margin-right: 25px;

}
.feature-img{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;
    box-shadow: 10px 10px 10px rgb(209, 244, 247);
    
}
.social-links{
   display: flex;
    position: absolute;
    bottom: 10px;
    
    


}
.social-links li{
    bottom: 0;
    list-style: none;
    margin: 6px;
    padding: 0 6px;
    border: solid 2px lemonchiffon;
    border-radius: 10px;
    background: linear-gradient(45deg,#87adfe,#ff77cd);
}
.social-links li:hover{
    background-image: url(images/logo.png);
    color: red;
    box-shadow: 3px 3px 3px red;
    backdrop-filter: blur(10px);
    margin-left: 3px;
    transition: 0.7s ease;}
.social-links a{
    text-decoration: none;
    padding-right: 20px;
    font-size: 14px;
    color: white;
    

         
}
.hamburger{
    display:none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 5px;
    margin: 3px;
    background: linear-gradient(45deg,#87adfe,#ff77cd);}
@media (max-width:768px){
    body{
        height: 100vh;
    }
    .container{
        top: -10px;}
        .logo{
            display: block;
            margin-left: -24px;
        }
  
    .hamburger{
        display: block;
        position: fixed;
        right: 13px;
        top: 16px;
        margin-right: 15px;
        z-index: 1000;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar{
       display: block;
       height: 100%;
        position: fixed;
        left: -800%;
        top: 0;
        margin-left: 0px;
        gap: 20px;
        width: 99%;
        border: 2px solid lemonchiffon;
       backdrop-filter: blur(10px);
        text-align: center;
        transition: 0.1s ease;
        

    }
    .header-style{
        top: 220px;
        position: fixed;
        left: 10px;
        border: solid 2px lemonchiffon;
        margin-top: 0px;
        width: 93%;
        border-radius: 10px;
        color: #6a7199;
        
    }
    .link1{
        top: 120px;
        left: -20px;
        display: block;
        position: fixed;
     margin: 30px;
        
    }
    .link2{
        top:50px;
        left: -20px;
        display: block;
        position: fixed;
     margin: 30px;
        
    }
    .link3{
        top:50px;
        right: 0px;
        display: block;
        position: fixed;
     margin: 30px;
        
    }
    .link4{
     
       
        display: block;
        position: fixed;
     margin: 30px;
     top: 120px;
     right: -1px;
     display: block;
     position: fixed;
  margin: 30px;
        
    }
    .navbar.active{
        left: 0;
    }

    .logo2{  
        display: none;
        position: fixed; 
        left: 6px;
        top: 0px;
    }
    .content{
      margin-top:80px;
    }
    .feature-img{
        height: 45%;
        position: absolute;
        bottom: -60px;
        right: 4px;
}
.social-links{
    transform: rotate(-90deg);
    position: absolute;
   left: -170px;;
   display: flex;
        text-decoration: none;
        border-radius: 10px;
        padding: 0 10px;
        margin: 10px;
        bottom: 170px;

    }
    .social-links li{
       
        border: solid 2px lemonchiffon;
        list-style: none;
        padding-left: 6px ;
        padding-right: 6px ;
        border-radius: 10px;
        background: linear-gradient(45deg,#87adfe,#ff77cd);

    }
    .social-links li:hover{
        background-image: url(images/logo.png);
        color: red;
        box-shadow: 3px 3px 3px red;
        backdrop-filter: blur(10px);
        margin-left: 3px;
        transition: 0.7s ease;}
        .content{
        
            margin-top: 20px;
        }
        .arrow-icons img{
            margin-top: 30px;
            width: 0px;
           margin-left: 10px;
            margin-right: 25px;}
            .image2{
                
            }
    }
    .

